{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Process Management Tool{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
    {% block extra_css %}
    {% endblock extra_css %}
</head>
<body>

    <div class="main-container">
        <div class="content">
            {% block content %}
            {% endblock content %}
        </div>
    </div>

</body>
</html>
