{% extends "base.html" %}
{% load static %}

{% block title %}Process Browser{% endblock %}

{% block content %}

  <div class="container">
    <h1 class="text-center mt-5 mb-4">Active Processes</h1>

    <form method="GET" action="{% url 'processes:process_list' %}"
          class="row g-3 mb-4 align-items-center text-center">
      <div class="col-md-3">
        <button type="submit" class="btn btn-primary w-100">Filter</button>
      </div>
      <div class="col-md-3">
        <input type="text" id="pid" name="pid" value="{{ request.GET.pid }}" class="form-control"
               placeholder="Enter PID">
      </div>
      <div class="col-md-3">
        <input type="text" id="status" name="status" value="{{ request.GET.status }}" class="form-control"
               placeholder="Enter Status">
      </div>
      <div class="col-md-3">
        <input type="text" id="name" name="name" value="{{ request.GET.name }}" class="form-control"
               placeholder="Enter Name">
      </div>

    </form>

    <div id="process-table"
         hx-get="{% url 'processes:process_list_partial' %}?pid={{ request.GET.pid }}&status={{ request.GET.status }}&name={{ request.GET.name }}"
         hx-trigger="load, every 30s"
         hx-swap="outerHTML"
         hx-indicator="#loading-indicator">

      {% include 'processes/process_table.html' %}

    </div>

    <div id="loading-indicator" class="d-none text-center mt-3">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <p>Loading...</p>
    </div>
  </div>

{% endblock content %}
